@charset "UTF-8";a{-webkit-transition:color 400ms, background-color 400ms;transition:color 400ms, background-color 400ms;}
a:hover{text-decoration:none;}
body{line-height:24px;font-weight:300;color:#222;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:20px;}
select{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;background-color:transparent;background-image:none;border:1px solid #f2f2f2;border-radius:0;-webkit-border-radius:0;}
select:hover{border-color:#f2f2f2;}
select:focus{outline:none;}
label{font-weight:normal;}
.media>.pull-left{margin-right:20px;}
.media>.pull-right{margin-left:30px;}
#main{margin:0 auto;margin-bottom:40px;}
.page-header{padding:0;margin:0;border:0 none;}
.page-header .page-title{font-weight:700;margin-bottom:40px;margin-top:0;text-transform:uppercase;}
.wow:not(.animated){opacity:0;}
.alert-link:hover{text-decoration:underline;}
.post-load-more{text-align:center;margin:20px 0;}
.themeum-icon span{line-height:1.4;}
.btn{border:none;border-radius:0;}
.btn-style{padding:0;}
.entry-summary .btn-style{text-decoration:none;}
.btn-common{color:#FFF;padding:15px 30px;font-size:14px;font-weight:400;text-transform:uppercase;}
.btn-common-transparent{background:transparent;display:inline-block;margin-top:10px;color:#fff;border:2px solid #fff;padding:2px 15px;font-size:12px;-webkit-transition:300ms;-moz-transition:300ms;transition:300ms;text-transform:uppercase;}
.btn-common-transparent:hover{background:#fff;}
input[type="submit"]{padding:8px 15px;border:none;box-shadow:none;color:#fff;-webkit-transition:300ms;-moz-transition:300ms;transition:300ms;text-transform:uppercase;float:right;outline:none;}
.btn-action{margin-top:25px;padding:15px 30px;display:inline-block;}
.load-more.btn-primary{padding:15px 30px;text-transform:uppercase;letter-spacing:3px;}
button{font-size:14px;text-transform:uppercase;color:#fff;border:none;padding:3px 20px;}
input[type="text"], input[type="email"], input[type="url"]{border:1px solid #f2f2f2;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.boxwidth{position:relative;max-width:1240px;background:#fff;margin:30px auto 30px;overflow:hidden;box-shadow:0px 0px 15px rgba(0, 0, 0, 0.15);-webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.15);-moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.15);}
#boxwidth-bg .boxwidth .header{border-bottom:1px solid rgba(255, 255, 255, 0.25);}
.boxwidth #masthead.sticky{max-width:1240px;top:0;}
.admin-bar .boxwidth #masthead.sticky{top:30px;}
#navigation .navbar-brand{height:80px;line-height:80px;display:table;padding:0;margin:0;}
#navigation .navbar-nav{float:right;}
#navigation a.navbar-brand h1{display:table-cell;vertical-align:middle;margin:0;color:#fff;font-size:42px;}
#navigation .navbar-header .navbar-toggle{margin:22px 0 0 0;border-color:rgba(255,255,255,.2);box-shadow:none;-webkit-box-shadow:none;}
#navigation .navbar-header .navbar-toggle:hover,
#navigation .navbar-header .navbar-toggle:focus{background:rgba(0, 0, 0, 0.5);color:#fff;}
#main-menu{position:inherit;}
#main-menu .nav{margin:0;padding:0;text-align:right;}
#main-menu .nav>li{display:inline-block;}
#main-menu .nav>li>a{color:#fff;font-size:12px;letter-spacing:1px;padding-top:0;padding-bottom:0;line-height:80px;text-transform:uppercase;}
#main-menu .nav>li>a:hover,
#main-menu .nav>li>a:focus{background-color:transparent;}
#main-menu .nav>li>a:before,
#main-menu .nav>li.active>a:before{position:absolute;bottom:25px;left:15px;content:" ";background-color:#fff;height:2px;width:0px;-webkit-transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;}
#main-menu .nav>li.menu-item-language a{margin:0px;padding:0px;}
#main-menu .nav>li.menu-item-language > a:hover,
#main-menu .nav>li.menu-item-language > a:focus{background-color:none !important;}
#main-menu .nav>li.menu-item-language>a:before, #menu-main-menu .nav>li.menu-item-language>a:before,
#menu-main-menu .nav>li.menu-item-language.active>a:before ,#main-menu .nav>li.menu-item-language.active>a:before{background-color:transparent !important;}
#main-menu .nav>li.menu-item-language-current > a:after{content:"" !important;}
#main-menu .nav>li>a:hover:before,
#main-menu .nav>li>a:focus:before,
#main-menu .nav>li.active>a:before{width:30px;}
#main-menu .nav>li.menu-item-has-children > a:after{content:" \f107";font-family:"FontAwesome";}
#main-menu .nav>li ul{text-align:left;position:absolute;left:0;list-style:none;padding:12px 0;margin:0;width:220px;display:none;background:#fff;z-index:999999;-webkit-box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.2);box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.2);}
#main-menu .nav>li:hover>ul{display:block;-webkit-animation:fadeIn 300ms;animation:fadeIn 300ms;}
#main-menu .nav>li>ul li a{display:block;line-height:normal;padding:8px 20px;font-size:13px;color:#666;}
#main-menu .nav>li>ul li a:before,
#main-menu .nav>li>ul li.active a:before{position:absolute;bottom:0;left:20px;content:" ";height:1px;width:0px;-webkit-transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;}
#main-menu .nav>li>ul li a:hover:before,
#main-menu .nav>li>ul li a:focus:before,
#main-menu .nav>li>ul li.active a:before{width:30px;}
#main-menu .nav>li>ul>li{position:relative;}
#main-menu .nav>li>ul>li>ul{display:none;position:absolute;top:0;left:220px;}
#main-menu .nav>li>ul>li:hover>ul{display:block;-webkit-animation:fadeIn 300ms;animation:fadeIn 300ms;}
#main-menu .nav>li.has-megasub{position:inherit;}
#main-menu .nav>li.has-megasub > ul.megamenu{padding:42px 30px;width:100%;}
#main-menu .nav>li.has-megasub > ul.megamenu > li{float:left;}
#main-menu .nav>li.has-megasub > ul.megamenu.megacol-4 > li{width:25%;}
#main-menu .nav>li.has-megasub > ul.megamenu.megacol-3 > li{width:33%;}
#main-menu .nav>li.has-megasub > ul.megamenu.megacol-2 > li{width:50%;}
#main-menu .nav>li.has-megasub > ul.megamenu.megacol-1 > li{width:100%;}
#mobile-menu{position:absolute;top:90px;width:100%;z-index:9;right:0;z-index:999;}
#mobile-menu .navbar-collapse{padding-right:0;padding-left:0;border:0;}
#mobile-menu .navbar-nav{margin-top:0;margin-bottom:0;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{border-top:0 !important;}
#mobile-menu ul{list-style:none;background:#fff;padding-top:10px;padding-bottom:10px;}
#mobile-menu ul li a{padding-top:7px;padding-bottom:7px;color:#888;display:block;}
#mobile-menu ul li:hover > a,
#mobile-menu ul li.active > a{color:#fff;}
#mobile-menu ul ul{padding-left:30px;}
#mobile-menu ul li span.menu-toggler{display:inline-block;width:34px;cursor:pointer;color:#000;height:34px;line-height:34px;text-align:center;position:absolute;right:0;top:0;z-index:99;}
#mobile-menu ul li:hover .menu-toggler{color:#111;}
#mobile-menu ul li span.menu-toggler i{display:block;line-height:34px;}
#mobile-menu ul li span.menu-toggler .fa-angle-right,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-down{display:none;}
#mobile-menu ul li span.menu-toggler .fa-angle-down,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-right{display:block;}
#mobile-menu .navbar-nav>.active>a,
#mobile-menu .navbar-nav>.active>a:hover,
#mobile-menu .navbar-nav>.active>a:focus{color:#62a83d;background:rgba(255,255,255,.15);}
h1.logo-wrapper img{width:27%;}
@media only screen and (max-width:768px){#masthead.sticky{position:inherit !important;}
}
#main-menu ul.sub-menu li > a{font-weight:400!important;}
.vc-margin .vc_row,
.vc_row.wpb_row{margin-bottom:0;}
.vc_btn{text-transform:uppercase;font-weight:600;letter-spacing:2px;}
.title-text-shadow .themeum-action-title{text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);}
.title-style-white .style-title1:after{border-bottom:2px solid #fff;}
.title-variation1 .style-title1{display:inline-block;margin:0;padding:60px 40px;color:#FFF;text-transform:uppercase;border-radius:4px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.46);position:relative;letter-spacing:2px;}
.title-variation1 .style-title1:after{border-bottom:2px solid #FFF;width:40px;bottom:40px;margin-left:-20px;}
.title-variation1 .style-title1:before{border-bottom:2px solid;position:absolute;content:" ";width:40px;top:40px;left:50%;margin-left:-20px;}
.header{position:relative;}
.page-template-homepage-php .header{margin-bottom:0;background:none;}
.page-template-homepage-php .header{position:absolute;z-index:999;width:100%;background:#62a83d !important;}
.page-template-homepage-default-php .header{padding:0;margin:0;}
.parallax-section{min-height:200px;width:100%;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;}
.newsletter{color:#fff;}
.newsletter .vc_row-fluid{margin-bottom:0;}
.newsletter h2{text-transform:uppercase;color:#fff;font-size:20px;letter-spacing:5px;margin-top:0;}
.payment-method{margin:0;padding:5px 0;list-style:none;}
.payment-method li{display:inline-block;margin:0 20px;}
.product-thumbnail-outer{position:relative;cursor:pointer;}
.product-thumbnail-outer:after,
.product-thumbnail-outer:before,
.product-thumbnail-outer-inner:after,
.product-thumbnail-outer-inner:before{position:absolute;z-index:99;content:"";-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
.product-thumbnail-outer:after,
.product-thumbnail-outer-inner:after{width:1px;height:0%;}
.product-thumbnail-outer:before,
.product-thumbnail-outer-inner:before{width:0%;height:1px;}
.product-thumbnail-outer:after{right:0;bottom:0;}
.product-thumbnail-outer-inner:after{left:0;top:0;}
.product-thumbnail-outer:before{right:0;top:0;}
.product-thumbnail-outer-inner:before{left:0;bottom:0;}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner:after,
.product-thumbnail-outer:hover:after{height:100%;}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner:before,
.product-thumbnail-outer:hover:before{width:100%;}
ul.latest-review{margin:0;padding:0;list-style:none;margin-left:-15px;margin-right:-15px;font-size:0;}
ul.latest-review .latest-review-single-item{display:inline-block;padding:0 15px 60px 15px;vertical-align:top;}
ul.latest-review .review-col-one{width:100%;}
ul.latest-review .review-col-two{width:50%%;}
ul.latest-review .review-col-three{width:33.33%;}
ul.latest-review .review-col-four{width:25%;}
ul.latest-review .review-col-five{width:20%;}
ul.latest-review .review-col-six{width:16.66%;}
.review-image-wrapper{position:relative;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.review-image-wrapper img{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all 400ms;-moz-transition:all 400ms;-o-transition:all 400ms;transition:all 400ms;}
.review-image-wrapper a:hover img{webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
.review-image-wrapper a.review-item-image:before{font-family:FontAwesome;content:"\f0c1";font-size:30px;-webkit-font-smoothing:antialiased;color:#fff;position:absolute;left:50%;top:50%;margin-left:-18px;margin-top:-18px;width:36px;height:36px;line-height:36px;text-align:center;z-index:1;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transition:400ms;-moz-transition:400ms;-o-transition:400ms;transition:400ms;}
.review-image-wrapper a:hover:before{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.review-image-wrapper a.review-item-image:after{position:absolute;top:0;height:100%;width:100%;background:rgba(0, 0, 0, 0.6);left:0;content:"";opacity:0;-webkit-transition:400ms;-moz-transition:400ms;-o-transition:400ms;transition:400ms;}
.review-image-wrapper a:hover:after{opacity:1;}
.review-image-wrapper .comments a{position:absolute;right:0;bottom:0;font-size:14px;height:30px;width:30px;color:#fff;text-align:center;line-height:30px;display:block;}
.review-item-text{font-size:14px;}
.review-item-text .entry-category,
.review-item-text .entry-date{font-size:11px;color:#999;font-weight:500;letter-spacing:0.80px;text-transform:uppercase;margin:15px 10px 0 0;display:inline-block;line-height:12px}
.review-item-text .entry-title{margin-top:10px;}
.review-item-text .entry-title a{padding-left:10px;font-size:18px;font-weight:500;color:#000;border-left:3px solid;text-transform:capitalize;}
.review-item{font-size:12px;}
.box-content .box-btn{font-size:12px;line-height:40px;height:40px;font-weight:400;padding-left:20px;padding-right:20px;margin-top:15px;border:2px solid #62a83d;display:inline-block;color:#62a83d;text-transform:uppercase;letter-spacing:1px;}
.box-content .box-btn:hover{color:#fff;}
.home-slide .container{width:100%;}
.vc_row-fluid.home-slide .vc_row{margin-bottom:0;}
.home-slide .vc_col-sm-12{padding-left:0px;padding-right:0px;}
.features-list .wpb_row{margin-bottom:0;}
.features-list .wpb_row .vc_column_container{border-right:1px solid rgba(0, 0, 0, 0.12);border-left:1px solid rgba(255, 255, 255, 0.15);}
.features-list .wpb_row .vc_column_container:last-child{border-right:none;}
.features-list .wpb_row .vc_column_container:first-child{border-left:none;}
.item-feature{position:relative;padding:60px 15px 45px;color:rgba(255,255,255,0.6);}
.item-feature .feature-img-wrapper{padding:8px;border-radius:100%;display:inline-block;position:absolute;top:-30px;left:50%;margin-left:-40px;z-index:99;}
.item-feature .feature-img-wrapper img{width:70px;height:70px;padding:20px;border:2px solid #fff;border-radius:100%;}
.features-list .wpb_row .vc_column_container:hover .feature-img-wrapper img{-webkit-transition:400ms;-moz-transition:400ms;-o-transition:400ms;transition:400ms;}
.item-feature h3{color:#FFF;font-size:14px;font-weight:500;line-height:20px;text-transform:uppercase;margin:20px 0 10px;letter-spacing:1px;}
.features-list .wpb_row .vc_column_container:hover .feature-img-wrapper img{background-color:rgba(0,0,0,.15) !important;border-color:rgba(0,0,0,.2) !important;}
.style-title1{display:inline-block;text-transform:uppercase;letter-spacing:5px;position:relative;color:#333333;font-size:20px;font-weight:500;}
.style-title1:after{border-bottom:2px solid #fff;position:absolute;content:" ";width:18px;bottom:-10px;left:50%;margin-left:-9px;}
.title-variation1 .style-title1:before{border-bottom:2px solid #fff;}
.title-variation1 .style-title1:after{border-bottom:2px solid #fff !important;}
.themeum-action-shortcode .themeum-action-title{font-size:30px;margin:10px 0;color:#FFF;font-weight:500;}
.themeum-action-shortcode .themeum-action-subtitle{font-size:18px;color:#FFF;}
.widget{word-break:break-word;border:1px solid #f2f2f2;}
.widget img{max-width:100%;height:auto;}
.widget_recent_comments a{word-break:break-word;}
.widget select{max-width:80%;margin:15px 0 15px 35px;}
.form-control{border-radius:0;}
.widget{margin-bottom:30px;padding:30px 30px 20px;}
.widget-area .widget:last-child{margin-bottom:0px;}
.widget h3.widget_title{padding:0 0 20px;margin:0 0 20px;font-size:14px;text-transform:uppercase;color:#010101;border-bottom:1px solid;position:relative;}
.widget h3.widget_title::after{position:absolute;top:35px;left:0;width:40%;height:1px;background:rgba(0, 0, 0, 0.58);content:"";}
.widget_title{margin-top:0;margin-bottom:0;}
.widget .tagcloud{display:block;}
.widget .tagcloud a{display:inline-block;color:#737373;padding:2px 15px;margin-right:5px;margin-bottom:5px;transition:all 300ms ease-in;text-transform:capitalize;font-size:14px !important;border:1px solid #e6e6e6;}
.widget .tagcloud a:hover{border:1px solid;}
.widget ul{padding:0;margin:0;letter-spacing:0;list-style:none;}
.widget ul li{border-bottom:1px solid #f2f2f2;}
.widget ul > li:last-child{border-bottom:none;}
.widget.widget_categories ul li{text-transform:capitalize;}
.widget ul li a{color:#62a83d;display:inline-block;font-size:11px;text-transform:uppercase;text-decoration:none;padding:5px 0;}
.widget ul li:first-child a{padding-top:0;}
.widget ul li:last-child a{padding-bottom:0;}
.widget.widget_recent_comments ul li{padding-top:5px;padding-bottom:5px;word-break:break-word;}
.widget.widget_rss ul li.active{font-weight:bold;}
.widget.widget_rss ul li{padding-top:5px;padding-bottom:5px;word-break:break-word;}
.widget.widget_recent_comments ul li a{padding:0;border-left:0 none;}
.widget.widget_nav_menu ul.sub-menu{border-top:1px solid #f4f4f4;padding-left:20px;}
.widget_text .textwidget{padding:0;}
.widget.widget_rss .widget_title a{color:#010101;}
.widget.widget_rss .widget_title a:hover{text-decoration:none;}
.widget.widget_rss ul li a{border:0 none;padding:0;}
.widget.widget_rss a:hover,
.widget.widget_recent_comments a:hover{border-left:0px;text-decoration:underline;}
#bottom{padding:80px 0;background:#f8f8f8;}
.bottom-widget .widget{padding:0;border:none;margin:0;}
.bottom-widget .widget ul li{border-bottom:none;}
.bottom-widget .widget ul li a{text-transform:capitalize;font-size:13px;color:#737373;}
.bottom-widget .widget h3.widget_title{padding:0 0 30px;border:0;color:#000;font-weight:600;letter-spacing:3px;position:relative;}
.bottom-widget .widget h3.widget_title:after{border-bottom:2px solid;position:absolute;content:" ";width:30px;bottom:0;left:0;}
.bottom-widget .widget ul.organic-about-share li{display:inline-block;border:none;margin-right:15px;}
.bottom-widget .widget ul.organic-about-share li a{color:#999999;font-size:14px;}
.bottom-widget .widget ul.organic-about-share li a.facebook:hover{color:#4F7CC0;}
.bottom-widget .widget ul.organic-about-share li a.twitter:hover{color:#00BFF5;}
.bottom-widget .widget ul.organic-about-share li a.g-plus:hover{color:#D34730;}
.bottom-widget .widget ul.organic-about-share li a.linkedin:hover{color:#007DB3;}
.bottom-widget .widget ul.organic-about-share li a.pinterest:hover{color:#CF1C20;}
.bottom-widget .widget ul.organic-about-share li a.delicious:hover{color:#4F7CC0;}
.bottom-widget .widget ul.organic-about-share li a.tumblr:hover{color:#32406F;}
.bottom-widget .widget ul.organic-about-share li a.stumbleupon:hover{color:#00971E;}
.bottom-widget .widget ul.organic-about-share li a.dribble:hover{color:#D126BD;}
.organic-testimonial{margin-bottom:20px;}
.organic-testimonial .testimonial-desc i{margin-right:8px;}
.organic-testimonial span{color:#000;font-size:13px;font-weight:600;letter-spacing:1px;}
.flickr-wrap .flickr_badge_image{display:inline-block;margin:0 3px 6px;width:80px;height:80px;}
.flickr_badge_image{overflow:hidden;}
.flickr_badge_image img{-webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms;width:100%;}
.flickr_badge_image a:hover img{-moz-transform:scale(1.5);-webkit-transform:scale(1.5);-o-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5);}
.flickr_badge_image a:hover:before,
.flickr_badge_image a:hover:after{display:block;}
.flickr_badge_image a:hover:after{-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown;-webkit-animation-duration:400ms;-moz-animation-duration:400ms;-o-animation-duration:400ms;animation-duration:400ms;}
.flickr_badge_image a{position:relative;z-index:1;display:block;overflow:hidden;}
.flickr_badge_image a:before{position:absolute;content:"";width:100%;height:100%;top:0;background:#62a83d;z-index:9;opacity:.8;display:none;-webkit-transition:200ms;-moz-transition:200ms;-o-transition:200ms;transition:200ms;}
.flickr_badge_image a:after{position:absolute;top:0;z-index:10;opacity:.7;display:none;content:"\f03e";font-family:fontawesome;color:#fff;font-size:19px;top:50%;margin-top:-13px;left:50%;margin-left:-10px;}
.widget.widget_organic_image_widget{border:none;padding:10px 40px;}
.widget table,
.widget th,
.widget td{border:1px solid rgba(0, 0, 0, 0.1);text-align:center;}
.widget table{border-collapse:separate;border-spacing:0;border-width:1px 0 0 1px;width:100%;}
.widget caption,
.widget th,
.widget td{font-weight:normal;text-align:center;line-height:1.8;}
.widget caption{width:100%;border-width:1px 1px 0;border-style:solid;border-color:rgba(0,0,0,.1);line-height:2.5;}
.widget th{border-width:0 1px 1px 0;font-weight:bold;}
.widget td{border-width:0 1px 1px 0;}
.widget table,
.widget th,
.widget td{border:0;}
.widget caption{margin:15px 0 10px;border:0;}
.widget #today a{display:block;}
.widget.widget_mc4wp_widget{padding:30px;color:#898989;}
.widget.widget_mc4wp_widget h3.widget_title{position:relative;padding:0 0 0 30px;background:none;color:#222;background:transparent;}
.widget.widget_mc4wp_widget h3:before{content:"\f0e0";display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;position:absolute;left:0;top:0;}
.widget.widget_mc4wp_widget label{display:none !important;}
.widget.widget_mc4wp_widget input.mailchimp-input{width:100%;box-shadow:none;border:1px solid #f2f2f2;height:40px;background:transparent;padding-left:15px;outline:0;}
.widget_mc4wp_widget{position:relative;}
.widget.widget_mc4wp_widget .button{outline:0;position:absolute;top:0;right:0;height:40px;width:40px;background:none;border:0;border-left:1px solid #F2F2F2;}
.widget.widget_mc4wp_widget .error{color:red;}
.widget.widget_mc4wp_widget .button i{font-size:20px;}
.newsletter span i{position:absolute;top:8px;right:15px;z-index:1;font-size:22px;}
.newsletter input{font-weight:300;outline:0;}
.newsletter span input.btn-newsletter{background:rgba(255, 255, 255, 0);border-left:1px solid #F2F2F2;padding:7px 20px;}
.newsletter .wpb_content_element{margin:0;}
.form.mc4wp-form{position:relative;}
.mc4wp-form input[type=email]{padding:15px;border:2px solid #fff;}
.mc4wp-form input:before{position:absolute;content:"";right:0;top:0;width:5px;height:5px;background:#000;}
.mc4wp-form button[type=submit]{position:absolute;top:2px;right:0;padding:14px 16px 14px 0;font-size:20px;outline:none;color:#fff;background:transparent !important;}
.mc4wp-form button[type=submit]:hover,
.mc4wp-form button[type=submit]:focus,
.mc4wp-form button[type=submit]:active{color:#62a83d;outline:none;}
#searchform{position:relative;}
#searchform input{height:65px;border:none;box-shadow:none;font-weight:300;}
#searchform .btn-search{position:absolute;height:65px;right:0;top:0;padding:0 21px;line-height:65px;border:0;color:#fff;}
#searchform .btn-search i{font-size:18px;line-height:65px;}
.home-search #searchform .btn-search{display:none;}
.cart-busket{position:relative;}
#header-container{position:relative;z-index:99999;}
.home-search{position:absolute;right:0;top:0px;width:100%;height:80px;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;z-index:999999;display:none;}
.home-search #searchform input{color:#fff;}
.home-search #searchform .btn-search i{font-size:14px;line-height:14px;}
.home-search #searchform input{height:80px;border:none;box-shadow:none;font-weight:300;padding:20px 0;font-size:30px;}
.home-search #searchform input::-webkit-input-placeholder{color:#fff;}.home-search #searchform input::-moz-input-placeholder{color:#fff;}
.hd-search-btn-close{position:absolute;font-size:30px;right:100px;top:25px;color:#fff;text-decoration:none;}
.cart-busket{text-align:right;line-height:80px;min-height:80px;}
.cart-busket li{list-style:none;display:inline-block;}
.cart-busket li i{font-size:16px;}
.cart-busket .home-search-btn a{color:#fff;}
.post.sticky .entry-post-content{background:rgba(98, 168, 61, 0.1);padding:20px;}
.latest-entry-meta .entry-date{color:#676767;font-size:11px;text-transform:uppercase;}
.widget-blog-posts{padding-bottom:10px;}
.widget-blog-posts .entry-title{font-size:12px;text-transform:uppercase;line-height:18px;padding:0;margin:5px 0 0;}
.widget-blog-posts .entry-title a{color:#333;}
.widget-blog-posts .media{border-bottom:1px solid #f2f2f2;padding-bottom:15px;}
.widget-blog-posts .media:last-child{border-bottom:none;padding-bottom:0;}
.single-post .post-navigation{position:relative;margin:0;padding:10px 20px;}
.single-post .post-navigation a{color:#fff;}
.single-post .post-navigation ul.breadcrumb{margin:0;padding:0 0 0 15px;border-radius:0;}
.single-post .post-navigation ul.breadcrumb>li+li:before{margin:0;padding:0;}
.single-post .post-navigation ul.breadcrumb li a.breadcrumb_home{margin-right:2px;}
.single-post .post-navigation ul.breadcrumb li span.raquo{padding:0 2px;}
.single-post .post-navigation ul.breadcrumb li a{line-height:40px;}
.single-post .post-navigation .post-controller{position:absolute;right:0;top:0;}
.single-post .post-navigation .post-controller .previous-post a,
.single-post .post-navigation .post-controller .next-post a{color:#fff;line-height:40px;height:40px;display:inline-block;width:30px;text-align:center;-webkit-transition:400ms;-moz-transition:400ms;-o-transition:400ms;transition:400ms;}
.single-post .post-navigation .post-controller .previous-post a:hover,
.single-post .post-navigation .post-controller .next-post a:hover{background:#000;}
.single-post .post-navigation .post-controller .next-post a{margin-left:1px;}
.social-button ul{padding:0;margin:30px 0 10px;list-style:none;display:block;}
.social-button ul li{display:inline-block;}
.social-button ul li a{color:#ccc;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;}
.social-button ul li a.facebook:hover{color:#4f7cc0;}
.social-button ul li a.twitter:hover{color:#00bff5;}
.social-button ul li a.g-puls:hover{color:#d34730;}
.social-button ul li a.linkedin:hover{color:#007db3;}
.social-button ul li a.digg:hover{color:#005073;}
.social-button ul li a.reddit:hover{color:#333;}
.social-button ul li a.pinterest:hover{color:#cf1c20;}
.social-button ul li a.stumbleupon:hover{color:#00971E;}
.social-button ul li a.tumblr:hover{color:#005A77;}
.social-button ul li a.envelope:hover{color:#000;}
.social-button ul li i{margin-right:20px;text-align:center;font-size:22px;}
.gallery-format{list-style:none;padding:0;margin:0;font-size:0;line-height:0;}
.gallery-format >li >img{-webkit-transition:300ms;-moz-transition:300ms;transition:300ms;}
.gallery-format li{display:inline-block;position:relative;}
.gallery-format li > .overlay{position:absolute;top:0;left:0;width:100%;height:100%;opacity:.25;background:#000;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;}
.gallery-format li > .overlay a{display:inline-block;width:100%;height:100%;text-align:center;color:#FFF;}
.gallery-format li{width:33.3333333%;}
.gallery-format li:hover > .overlay{opacity:1;background:none;}
.masonery_area.column-4 .gallery-format li{width:50%;}
.masonery_area.column-2 .entry-summary{display:none;}
#page .load-wrap{margin-bottom:40px;}
.entry-post-content{padding:5px 0;}
.featured-image{position:relative;}
.featured-image .entry-date{position:absolute;left:0;top:50px;padding:15px 30px;text-align:center;line-height:20px;color:#fff;}
.format-no-image{position:relative;}
.format-no-image .entry-date{position:absolute;left:0;top:30px;padding:15px 30px;text-align:center;line-height:20px;color:#fff;}
.entry-date .date{display:block;font-size:24px;}
.entry-date .month{text-transform:uppercase;font-size:12px;}
.entry-header .no-image{display:inline-block;padding:15px 30px;text-align:center;line-height:20px;color:#fff;margin-bottom:1px;}
.entry-title.blog-entry-title{padding-left:10px;border-left:3px solid;font-size:18px;line-height:100%;font-weight:500;}
.entry-title.blog-entry-title a{color:#000;}
.page #content article.post,
.blog #content article.post,
.archive #content article.post,
.search-results #content article.post,
.search-results #content article.page,
.single #content article.post{margin-bottom:30px;word-wrap:break-word;}
.site-header{margin-bottom:0;}
.search-results #content article.page .post-content{padding-top:30px;}
.entry-link,
.entry-chat,
.entry-status,
.entry-qoute{padding:20px;font-size:14px;border:1px solid #f2f2f2;}
.entry-status{padding:0;}
.entry-link h4{font-size:22px;}
.entry-qoute blockquote{margin-bottom:0;padding:0;border:none;}
.entry-qoute blockquote p{font-weight:400;letter-spacing:.5px;line-height:24px;}
.entry-qoute blockquote small{font-style:italic;font-size:15px;}
.format-aside .post-content.media .entry-title{display:none;}
.type-post .post-content .media-body{padding-right:30px;}
.entry-title{margin-top:0;margin-bottom:10px;}
.entry-title,
.entry-summary{-ms-word-wrap:break-word;word-wrap:break-word;}
.post-content.media{margin-top:0px;padding-bottom:30px;padding-top:30px;}
.post-content.media h2.entry-title a{color:#1a1a1a;}
.post-content.media .pull-left{margin-right:25px;}
.post-content.media .post-format,
.post-content.media .publish-date{text-align:center;padding:0px;}
.post-content.media .post-format{margin:0 0 15px;}
.post-content.media .post-format i{font-size:18px;width:40px;height:40px;line-height:40px;color:#fff;text-align:center;transition:all .4s linear;}
.post-content.media:hover .post-format i{}
.post-content.media .publish-date .entry-date{padding:0;}
.gallery-slide{margin-top:25px;}
.blog-gallery-slider .carousel-control{top:45%;width:10%;text-shadow:none;bottom:auto;background:none;opacity:.8;}
.blog-gallery-slider .carousel-control i{font-size:36px;line-height:36px;}
.entry-meta{margin:0px 0 10px;}
.entry-meta ul{display:block;list-style:none;padding:0;margin:0;}
.entry-meta ul li{display:inline-block;margin-right:10px;}
.entry-meta ul li i{margin-right:5px;}
.entry-meta ul li:last-child{margin-right:0px;}
.entry-meta ul li,
.entry-meta ul li i,
.entry-meta ul li a{text-transform:uppercase;}
.entry-meta ul li a:hover{color:#222;}
.entry-summary .read-more{position:relative;-webkit-transition:all 0.17s ease-in-out;-moz-transition:all 0.17s ease-in-out;-ms-transition:all 0.17s ease-in-out;-o-transition:all 0.17s ease-in-out;transition:all 0.17s ease-in-out;border:2px solid #e5e5e5;padding:6px 32px 6px 22px;border-radius:4px;color:#363f46;box-shadow:0 0 0 0;font-size:12px;text-transform:capitalize;}
.entry-summary .read-more:hover{color:#34495e;}
.entry-summary a{text-decoration:underline;}
.entry-status iframe{width:100% !important;border:0 !important;box-shadow:none !important;}
.entry-summary ul li{list-style:square;}
.single-post #content article.post{margin-bottom:0;}
.single-post #content .post-author{background:#fff;margin-top:0px;margin-bottom:30px;}
.single-post #content .post-author .pull-left{margin-right:20px;}
.single-post #content .post-author .media-body h3{margin-top:0;text-transform:capitalize;}
.single-post #content .post-author .media-body p{margin-bottom:0;line-height:24px;font-size:14px;}
.alignnone{margin:5px 20px 20px 0;}
img.alignnone{max-width:100%;height:auto;}
.aligncenter,
div.aligncenter{display:block;margin:5px auto 5px auto;clear:both;}
.alignright{float:right;margin:10px 0 20px 20px;}
.alignleft{float:left;margin:10px 20px 20px 0;}
.aligncenter{display:block;margin:10px auto 15px auto;}
a img.alignright{float:right;margin:5px 0 20px 20px;}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{float:left;margin:5px 20px 20px 0;}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone{margin:5px 20px 20px 0;clear:both;}
.wp-caption.alignleft{margin:5px 20px 20px 0;}
.wp-caption.alignright{margin:5px 0 20px 20px;}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:10px 5px 0;}
.default-page article{}
.default-page .entry-title{margin-bottom:20px;}
table{border-bottom:1px solid #f1f1f1;border-collapse:collapse;border-spacing:0;font-size:14px;line-height:2;margin:0 0 20px;width:100%;}
caption,
th,
td{font-weight:normal;text-align:left;}
caption{font-size:16px;margin:20px 0;}
th{font-weight:bold;text-transform:uppercase;}
td,
.table>tbody>tr>td{border:1px solid #f1f1f1;padding:8px 10px 8px 0;}
dl{margin:0 20px;}
dt{font-weight:bold;}
dd{margin:0 0 20px;}
blockquote p{font-size:12px;font-weight:300;line-height:1.5em;}
blockquote{}
.entry-content a{}
.entry-content pre{font-size:12px;padding:20px;}
#comments{background:#FFF;padding:30px 0;}
#comments .comments-title,
#respond .comment-reply-title{margin-top:0;margin-bottom:30px;padding-bottom:15px;border-bottom:1px solid #f2f2f2;font-size:14px;text-transform:uppercase;}
#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"]{display:block;width:100%;height:50px;border:1px solid #f2f2f2;background:#fff;margin-bottom:30px;padding:0 15px;}
#respond textarea{display:block;width:100%;height:210px;border:1px solid #f2f2f2;margin-bottom:30px;resize:none;padding:10px 15px;background:#fff;}
.col6{width:50%;box-sizing:border-box;float:left;}
.logged-in .col6{width:100%;}
.col6-input{padding:0 30px 0 0;}
#respond input:focus,
#respond textarea:focus{outline-offset:0;outline:0;}
#respond::-webkit-input-placeholder{font-weight:300;font-size:14px;letter-spacing:1px;}
#respond .form-submit{text-align:right;}
#respond .logged-in-as{padding-left:15px;}
.comment-list{padding:0;list-style:none;}
.comment-list .comment-body{margin-bottom:30px;padding:30px;border:1px solid #F2F2F2;}
.comment-list .comment-avartar{position:relative;}
.comment-list .comment-body .comment-avartar{margin-right:30px;}
.comment-list .comment-body .comment-author{text-transform:uppercase;line-height:12px;display:block;}
.comment-list .comment-body .comment-author a{color:#222;font-size:18px;line-height:20px;}
.comment-list .comment-body .comment-date{color:#898989;font-size:11px;}
.comment-list .comment-body .comment-time{margin:0 10px 0 0px;}
.comment-list .comment-body .edit-link{margin-right:5px;}
.comment-list .comment-body .comment-reply,
.comment-list .comment-body .edit-link{text-transform:lowercase;font-weight:300;display:none;transition:display .5s linear;-webkit-transition:display .5s linear;}
.comment-list .comment-body:hover .comment-reply,
.comment-list .comment-body:hover .edit-link{display:inline-block;}
.comment-body .comment-content p{font-size:13px;letter-spacing:.3px;line-height:20px;margin-top:0px;}
.comment-list .children{padding-left:40px;}
#comments .form-submit #submit{text-transform:uppercase;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:12px;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;border-radius:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;color:#fff;border-color:transparent;}
.rev_slider_wrapper{margin-top:40px !important;}
.woocommerce-page #content div.product div.images img{border:1px solid #999 !important;}
.tp-bannertimer{display:none;}
#tribe-events-pg-template{max-width:inherit;}
.events-archive #tribe-events-pg-template .entry-title.blog-entry-title{margin-top:0px;}
.events-archive #tribe-events #tribe-events-footer{display:none;}
.events-archive #tribe-events .tribe-events-button.tribe-events-ical{margin-top:20px;margin-bottom:30px;}
.tribe-events-list .tribe-events-event-image{width:33%;}
.tribe-events-list .tribe-events-event-image+div.tribe-events-content{width:64%;}
.tribe-events-venue-map>div{height:200px!important;}
.tribe-events-day .vevent.type-tribe_events{margin-left:0;}
.wpb_accordion.faqs-section{margin-top:15px;}
.wpb_accordion.faqs-section .wpb_accordion_wrapper .ui-state-default .ui-icon{left:0;}
.wpb_accordion.faqs-section .wpb_accordion_wrapper .wpb_accordion_header a{padding-left:4em;text-transform:none;}
.wpb_accordion.faqs-section .wpb_accordion_wrapper .wpb_accordion_header{margin-bottom:10px;}
.prolog-pagination{text-align:center;}
.pagination{display:inline-block;list-style:none;padding:0;margin:0;}
.pagination li{float:left;}
.prolog-pagination .pagination>li >a{border-radius:0;padding:6px 15px;border:none;border-left:1px solid #f2f2f2;color:#222;}
.prolog-pagination .pagination>li:first-child a{border-left:none;}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus{color:#fff !important;}
.pagination>.active>a, .pagination>.active>span,
.pagination>.active>a:hover, .pagination>.active>span:hover,
.pagination>.active>a:focus, .pagination>.active>span:focus{border-color:transparent;}
body.page-template-coming-soon-php{background:#fff;display:table;width:100%;height:100%;min-height:100%;}
.comingsoon{text-align:center;background:#FFF;display:table-cell;}
.comingsoon-logo{background-repeat:no-repeat;background-position:50% 50%;margin:60px 0;height:41px;}
.comingsoon .page-header{font-size:18px;color:#484747;text-transform:uppercase;letter-spacing:5px;margin-bottom:5px;}
.comingsoon-content{background:#f7f7f7;padding:50px 0;}
.comingsoon .comingsoon-message-desc{font-size:13px;margin-bottom:45px;color:#a3a2a2;}
#comingsoon-countdown{display:inline-block;padding:0 45px 30px 45px;border-bottom:1px solid #eeeeee;}
#comingsoon-countdown > div{display:inline-block;margin:0 8px 0 0;}
#comingsoon-countdown .countdown-amount{display:block;font-size:30px;line-height:30px;text-align:center;color:#fff;background:linear-gradient(#5b963c 50%, #62a83d 50%);padding:20px;margin-bottom:5px;position:relative;}
#comingsoon-countdown .countdown-amount:before,
#comingsoon-countdown .countdown-amount:after{position:absolute;top:50%;content:"";width:5px;height:5px;background:#7dbd22;left:0;border-radius:50%;margin-left:-7px;}
#comingsoon-countdown .countdown-amount:before{margin-top:-10px;}
#comingsoon-countdown .countdown-amount:after{margin-top:5px;}
#comingsoon-countdown .countdown-amount.first-item:before{width:0;height:0;}
#comingsoon-countdown .countdown-amount.first-item:after{width:0;height:0;}
#comingsoon-countdown .countdown-period{font-size:14px;text-transform:capitalize;text-align:center;color:#484747;}
.comingsoon .social-share{padding:0;margin-top:20px;}
.comingsoon .social-share ul{margin:0;padding:0;list-style:none;font-size:0;}
.comingsoon .social-share ul li{display:inline-block;}
.comingsoon .social-share ul li a{background:none;color:#d0d0d0;font-size:24px;margin:0 10px;}
.comingsoon .social-share ul li a:hover{color:#5b963c;}
html{height:100%;}
body.error404,
body.page-template-404-php{display:table;width:100%;height:100%;min-height:100%;}
.content-404{text-align:center;background:#fff;display:table-cell;vertical-align:middle;}
.content-404 h1{font-size:100px;color:#62a83d;font-weight:700;margin-top:20px;margin-bottom:0;}
.content-404 h2{font-size:22px;margin-top:0;color:#676767;margin-bottom:35px;}
.content-404 .btn-lg{background:#62a83d;padding:15px 45px;color:#fff;font-size:18px;text-transform:uppercase;border-radius:3px;}
.archive-wrap{padding:30px;}
.archive-wrap h3{font-size:22px;}
.archive-wrap ul{margin:0;padding:0;list-style:none;}
.archive-wrap ul li:before{content:"\f046";display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.archive-wrap ul li a{padding-left:10px;}
.page-template-page-archive-tmp-php .footer{margin-top:30px;}
#footer{padding:25px 0;}
.copyright{color:#fff;text-transform:uppercase;}
.copyright a{color:#fff;}
.footer-menu{list-style:none;display:block;text-align:right;margin:0;}
.footer-menu li{position:relative;display:inline-block;margin-right:10px;margin-left:10px;}
.footer-menu >li >a{color:#222;}
.footer-menu li:first-child{margin-left:0;}
.footer-menu li:last-child{margin-right:0;}
.footer-menu li:last-child:before{display:none;}
.themeum-breadcrumbs .breadcrumb{background:none;padding:0;margin:0;text-align:right;font-size:14px;}
.themeum-breadcrumbs .breadcrumb a{}
.themeum-breadcrumbs .breadcrumb>.active{}
.themeum-breadcrumbs .breadcrumb>li+li:before{padding:0 0 0 8px;}
.subtitle{margin-top:20px;font-size:20px;border-bottom:1px solid #F2F2F2;margin-bottom:30px;}
.subtitle h2,
h2.tribe-events-page-title{display:inline-block;margin:0;padding:0 0 30px;font-size:20px;text-transform:uppercase;position:relative;}
h2.tribe-events-page-title{margin:25px 0 35px;display:block;border-bottom:1px solid #f2f2f2;padding:0 0 21px;}
.subtitle h2::after,
h2.tribe-events-page-title::after{content:"";position:absolute;top:51px;left:0;width:100%;height:3px;}
h2.tribe-events-page-title::after{top:40px;width:250px;left:50%;margin-left:-125px;}
.category .header{margin-bottom:0;}
.format-link .entry-header h4{color:#fff;}
.themeum_icon_shortcode.themeum_icon_circle{border-radius:100%;}
.themeum_icon_shortcode.themeum_icon_square{border-radius:4px;}
.themeum-divider{margin:0 auto;clear:both;position:relative;}
h2.title-style3{display:inline-block;margin:0;padding:60px 40px;background:rgba(98, 168, 61, 0.8);font-size:40px;color:#FFF;text-transform:uppercase;border-radius:4px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.46);position:relative;}
h2.title-style3:before{position:absolute;content:"";top:70%;left:50%;width:30px;height:2px;background:#fff;margin-left:-15px;}
.themeum-feature-box.feature-box-shop{box-shadow:inset 0 0 0px 10px #F8F8F8;-webkit-box-shadow:inset 0 0 0px 10px #F8F8F8;-moz-box-shadow:inset 0 0 0px 10px #F8F8F8;border:1px solid #F0F0F0;padding:30px 20px;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
.themeum-feature-box.feature-box-shop:hover{box-shadow:inset 0 0 0px 10px #E6E6E6;-webkit-box-shadow:inset 0 0 0px 10px #E6E6E6;-moz-box-shadow:inset 0 0 0px 10px #E6E6E6;}
@-webkit-keyframes scaleUp{0%{opacity:0;-webkit-transform:scale(.3);}
100%{opacity:1;-webkit-transform:scale(1);}
}
@-ms-keyframes scaleUp{0%{opacity:0;-ms-transform:scale(.3);}
100%{opacity:1;-ms-transform:scale(1);}
}
@-o-keyframes scaleUp{0%{opacity:0;-o-transform:scale(.3);}
100%{opacity:1;-o-transform:scale(1);}
}
.scaleUp{-webkit-animation-name:scaleUp;-moz-animation-name:scaleUp;-o-animation-name:scaleUp;animation-name:scaleUp;}
.section-title{margin-top:10px;}
.style-title2{border-bottom:1px solid #ddd;text-transform:uppercase;font-weight:600;letter-spacing:3px;font-size:14px;}
.span-title2{position:relative;}
.span-title2:before{position:absolute;content:"";bottom:0;height:1px;width:100%;margin-bottom:-1px;}
.map-content{padding:40px 0 40px 40px;}
.map-content h5{color:#fff;text-transform:uppercase;font-weight:500;letter-spacing:5px;margin-top:0;margin-bottom:20px;}
.map-content p{font-size:13px;color:white;margin-bottom:0;}
.wpcf7-form-control-wrap{display:block;}
.wpcf7-form-control-wrap input[type="text"],
.wpcf7-form-control-wrap input[type="email"],
.wpcf7-form-control-wrap input[type="url"],
.wpcf7-form-control-wrap textarea{outline:0;display:block;width:100%;height:40px;padding:10px 12px;font-size:12px;line-height:1.42857143;margin-bottom:30px !important;box-shadow:none;color:#979797;font-weight:600;letter-spacing:1px;}
.wpcf7-form-control-wrap textarea{height:180px;resize:none;}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea{background-color:rgba(0, 0, 0, 0);border:1px solid #F2F2F2;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;-webkit-box-shadow:none;height:40px;padding:6px 12px;}
span.wpcf7-not-valid-tip{margin-bottom:20px;}
.vc_col-sm-8.organic-map{padding-right:0;}
.vc_col-sm-4.contact-address{padding-left:0;}
.organic-map .wpb_gmaps_widget .wpb_wrapper{padding:0;}
.portfolio-items{list-style:none;padding:0;margin:0 -10px;}
.portfolio-filter{list-style:none;margin:0;padding:0;}
.portfolio-filter li,
.portfolio-items > li{display:inline-block;}
.portfolio-filter{margin:50px 0;}
.portfolio-filter li{position:relative;}
.portfolio-filter li a{text-transform:uppercase;letter-spacing:2px;padding:10px 20px;}
.portfolio-filter li a:before{position:absolute;content:"";bottom:0;width:0px;height:2px;left:50%;margin-left:-15px;opacity:0;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;}
.portfolio-filter li a:hover{background:transparent;box-shadow:none;}
.portfolio-filter li a:hover:before,
.portfolio-filter li .active:before{opacity:1;width:30px;}
.portfolio-filter .btn-default.active{background:transparent;box-shadow:none;}
.portfolio-items.col-2 li{width:50%;}
.portfolio-items.col-3{margin:0 -9px;}
.portfolio-items.col-3 li{width:33.3333333334%;}
.portfolio-items.col-4 li{width:25%;}
.portfolio-items.col-4 li .portfolio-item-content{padding:10px 0;}
.portfolio-items.col-4 li .portfolio-item-content .portfolio-title{font-size:12px;}
.portfolio-items.col-4 li .portfolio-item-content .portfolio-category{font-size:10px;}
.portfolio-items.col-5 li{width:20%;}
.portfolio-items.col-5 li .portfolio-item-content{padding:10px 0;}
.portfolio-items.col-5 li .portfolio-item-content .portfolio-title{font-size:12px;}
.portfolio-items.col-5 li .portfolio-item-content .portfolio-category{font-size:10px;}
.portfolio-item{float:left;position:relative;margin:0;padding:0 10px 20px 10px;}
.portfolio-thumb-wrapper{overflow:hidden;position:relative;}
.portfolio-thumb{-webkit-transition:all 0.8s;-moz-transition:all 0.8s;transition:all 0.8s;position:relative;}
.portfolio-thumb:before{position:absolute;content:"";top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);opacity:0;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;}
.portfolio-item-content{padding:20px 0;background:#f9f9f9;color:#000000;font-size:12px;border-bottom:1px solid #eee;text-align:center;}
.portfolio-item:hover .portfolio-thumb{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
.portfolio-item:hover .portfolio-thumb:before{opacity:1;}
.portfolio-title{font-size:18px;text-transform:uppercase;letter-spacing:3px;margin:0;}
.portfolio-title a{color:#333;}
.portfolio-title:after{content:"";display:block;width:32px;height:2px;margin:auto;margin-top:10px;margin-bottom:5px;}
.portfolio-category{color:#999999;text-transform:uppercase;}
.thumb-overlay{position:absolute;top:50%;margin-top:-22px;left:50%;margin-left:-48px;}
.thumb-overlay a{color:#fff;margin:0;font-size:18px;height:48px;width:48px;display:block;float:left;text-align:center;line-height:48px;opacity:0;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;border-radius:5px;}
.portfolio-item:hover .thumb-overlay a{opacity:1;-webkit-transform:scale(.8);-moz-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8);}
.thumb-overlay a:hover{color:#fff;}
#single-portfolio{margin-bottom:50px;}
#single-portfolio .post-navigation{margin-top:30px;}
#single-portfolio .previous-post a,
#single-portfolio .next-post a{font-size:20px;padding:5px 15px;border-width:1px;border-style:solid;display:block;}
#single-portfolio .previous-post a:hover,
#single-portfolio .next-post a:hover{color:#fff;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope,
.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.portfolio-info .style-title2,
.portfolio-info .span-title2,
.portfolio-details .style-title2,
.portfolio-details .span-title2{padding:20px 0;}
.portfolio-details .list ul li{margin:10px 0;font-size:12px;text-transform:uppercase;}
.portfolio-details .list ul li strong{}
.btn-common.btn-previw{padding:10px 20px;margin-top:20px;}
.btn-common.btn-previw i{margin-left:5px;}
.about-us h5{text-transform:uppercase;font-weight:500;color:#363334;margin-bottom:20px;}
.pricing{background:#f7f7f7;border-radius:3px;overflow:hidden;padding-bottom:20px;}
.pricing-plan .plan-title{font-size:18px;color:#333333;text-transform:uppercase;font-weight:600;letter-spacing:5px;padding-top:25px;padding-left:25px;padding-bottom:25px;margin:0;}
.featured .pricing-plan .plan-title{color:#fff;}
.pricing-plan .plan-price{display:block;color:#fff;padding-left:25px;font-size:24px;font-weight:normal;padding-top:10px;padding-bottom:10px;}
.pricing-plan .plan-price:first-letter{font-size:14px;margin-right:3px;}
.pricing-plan .plan-price .duration{font-size:14px;margin-left:5px;}
.plan-details ul{margin:0;padding:10px 25px;list-style:none;}
.plan-details ul li{color:#555555;font-size:14px;font-weight:500;margin:10px 0;}
.plan-details ul li:last-child{margin:0;}
.plan-action{padding:0 25px;margin-top:25px;}
.person-box{}
.person-img{position:relative;overflow:hidden;}
.person-details{position:absolute;bottom:0;width:100%;height:0%;background:rgba(255, 255, 255, 0.92);opacity:0;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s;content:"";padding:20px;line-height:24px;}
.person-img:hover .person-details{height:100%;opacity:1;}
.person-box ul.social-profile{margin-top:20px;}
.person-title{margin-bottom:0;margin-top:15px;font-size:15px;text-transform:uppercase;}
.person-deg{color:#8F989F;margin-bottom:20px;display:block;font-size:10px;letter-spacing:1px;line-height:120%;text-transform:uppercase;margin-top:5px;}
.person-title,
.person-deg{text-align:center;}
.testimonial-text-inner{line-height:1.666666666666667em;font-size:20px;}
.testimonial-text-inner img{margin-bottom:30px;}
.testimonial-author{color:#000;margin-bottom:20px;display:block;font-size:12px;letter-spacing:1px;text-transform:uppercase;margin-top:5px;font-weight:700;}
.author-company{font-weight:400;}
.testimonial-carousel-control{margin:0 5px;height:30px;width:30px;border:1px solid;font-size:20px;display:inline-block;line-height:28px;border-radius:4px;}
.testimonial-carousel-control:hover{color:#fff;}
.divider{clear:both;margin:40px 0;}
.divider1{border-bottom:1px solid #efefef;height:1px;}
.divider2{border-bottom:1px dashed #efefef;height:1px;}
.divider3{background:url(../images/stripes_black.png);background-repeat:repeat-x;width:100%;height:8px;background-position:0 0;}
.divider4{height:5px;background:url(../images/border-shadow.png);background-repeat:no-repeat;width:100%;margin:40px 0;background-position:center;}
.counter{padding:80px;background:#f5f5f5;}
.counter-single{display:table-cell;width:1%;}
.themeum-counter-number{font-size:50px;line-height:50px;font-family:arial;}
.counter-number-title{color:#8F989F;font-size:14px;margin-top:15px;letter-spacing:1px;text-transform:uppercase;font-weight:300;}
.wpb_row .wpb_column .wpb_wrapper .drop-cap{margin-bottom:30px;}
.margin-bottom .themeum-image-caption{margin-bottom:20px;}
.drop-cap:first-letter{font-size:42px;float:left;color:#fff;margin-bottom:5px;margin-right:10px;line-height:40px;text-transform:uppercase;padding:6px 12px;border-radius:4px;margin-top:10px;}
.list_rss ul li{list-style:square;font-size:14px;margin:15px 0px;color:#62A83D;}
.list_rss ul li a:hover, .list_rss ul li a:focus{color:#62A83D;}
.list_rss ul li .rssSummary{color:#000}
.list ul,
.list ol{margin:0;padding:0;list-style:none;}
.list ul li,
.list ol li{margin:0px 0px 8px;}
.list.list-default ul,
.list.list-square ul{padding-left:15px;list-style:inherit;}
.list.list-number ol{list-style:decimal-leading-zero;padding-left:22px;}
.list.list-circle li{position:relative;}
.list.list-square ul{list-style-type:square;}
.list.list-number-background ul{counter-reset:li;}
.list.list-number-background ul li{position:relative;padding-left:40px;}
.list.list-number-background li:before{content:counter(li, decimal-leading-zero);counter-increment:li;display:inline-block;left:0;padding:0;position:absolute;text-align:center;width:30px;border-radius:2em;color:#fff;height:30px;line-height:30px;top:0;}
.list-arrow ul li,
.list-circle ul li,
.list-star ul li{position:relative;padding-left:25px;}
.list-arrow ul li:before,
.list-circle ul li:before,
.list-star ul li:before{position:absolute;left:0;font-family:fontawesome;font-size:14px;}
.list-arrow ul li:before{content:"\f105";}
.list-circle ul li:before{content:"\f111";}
.list-star ul li:before{content:"\f005";}
.alert{position:relative;padding-left:80px;margin-top:50px;}
.alert-success{color:#fff;background:#a5de5c;border-color:#a5de5c;}
.alert-danger{color:#fff;background:#fb5455;border-color:##fb5455;}
.alert-info{color:#fff;background:#3097db;border-color:#3097db;}
.alert-warning{color:#fff;background:#ffe38b;border-color:#ffe38b;}
.alert-icon{display:inline-block;height:60px;width:60px;text-align:center;line-height:60px;font-size:30px;border-radius:5px;border-style:solid;border-width:1px;position:absolute;top:0;left:0;margin-top:-20px;margin-left:10px;}
.alert-success-icon{border-color:#85DA19;background:#85DA19;}
.alert-info-icon{border-color:#2086C9;background:#2086C9;}
.alert-warning-icon{border-color:#F5D46B;background:#F5D46B;}
.alert-danger-icon{border-color:#E63C3D;background:#E63C3D;}
.alert-dismissable .close, .alert-dismissible .close{color:#000;opacity:1;background:none !important;text-shadow:none;}
.alert strong{text-transform:uppercase;letter-spacing:1px;}
.themeum-feature-box{margin-bottom:30px;}
.title-icon .icon{display:table-cell;vertical-align:middle;float:none;}
.box-title{text-transform:capitalize;}
.title-icon .box-title{display:table-cell;vertical-align:middle;padding-left:15px;}
.title-icon .box-content{margin-top:12px;}
.themeum-feature-box.top-icon{text-align:center;}
.themeum-feature-box.top-icon2{text-align:center;background:#f5f5f5;padding:20px;position:relative;margin:30px 0 !important;}
.themeum-feature-box.icon-left{margin-bottom:30px !important;}
.top-icon2 .icon{display:inline-block;position:absolute;top:0;left:50%;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;}
.top-icon2 .box-title{}
.icon-left .box-title{margin-top:0;}
.owl-item .item{text-align:center;}
.owl-item .item img{display:inline-block;}
.wpb_wrapper .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header{background:#f1f1f1;outline:none;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a{color:#000;text-transform:uppercase;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:active,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:focus,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover{}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a{color:#fff;}
.wpb_wrapper .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon{background-image:url(../images/toggle_close.png);}
.wpb_wrapper .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon{width:40px;height:100%;background-repeat:no-repeat;right:0;top:0;background-color:#ddd;background-position:12px;}
#content .wpb_content_element .wpb_tabs_nav{background:#f1f1f1;}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a{font-size:14px;color:#999999;background:#f1f1f1;}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a:hover,
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav .ui-tabs-active a{color:#fff;}
.wpb_wrapper.wpb_tour_tabs_wrapper{border:1px solid #f5f5f5;background:#fff;}
.wpb_wrapper .wpb_tour .wpb_tabs_nav li{margin:0;border-style:solid;border-width:0 1px 1px 0;border-color:#f5f5f5;}
.wpb_wrapper .wpb_tour .wpb_tabs_nav li:last-child{border-bottom:0;}
.wpb_tour_next_prev_nav{display:none;}
.wpb_content_element .wpb_wrapper .wpb_tabs_nav li a{padding:12px 15px;}
.wpb_wrapper .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{background-color:#fff;padding:15px;}
.wpb_wrapper .wpb_tour .wpb_tour_tabs_wrapper .wpb_tab{padding:15px 15px 0 15px;}
.wpb_wrapper .vc_btn.btn-common{padding:15px 30px;font-weight:400;font-size:14px;float:right;margin-top:30px;background:#62a83d;}
.vc_btn.btn-common:hover{opacity:.9;}
.btn-common{color:#fff !important;}
.themeum_button_shortcode{display:inline-block;transition:all 300ms;-moz-transition:all 300ms;-webkit-transition:all 300ms;-ms-transition:all 300ms;}
.themeum_button_shortcode i{margin:0 3px;}
.themeum_button_shortcode.small{padding:8px 14px;}
.themeum_button_shortcode.medium{padding:12px 20px;}
.themeum_button_shortcode.large{padding:15px 30px;}
.themeum_button_shortcode.ex_large{padding:25px 60px}
.themeum_button_shortcode:hover{color:#fff !important;}
.themeum_button_shortcode.btn-transparent:hover{border-color:#fff !important;}
.woocommerce div.product form.cart div.quantity{display:none !important;}
ul.social-profile{margin:0;padding:0;list-style:none;}
ul.social-profile li{display:inline-block;margin:5px;}
ul.social-profile li:first-child{margin-left:0;}
ul.social-profile li:last-child{margin-right:0;}
ul.social-profile li a{font-size:18px;color:#62a83d;background:#fff;text-align:center;width:35px;display:block;height:35px;line-height:35px;border-radius:50%;}
ul.social-profile li a:hover{background:#62a83d;color:#fff !important;}
ul.social-profile li a.facebook{color:#3C599D;}
ul.social-profile li a.facebook:hover{background:#3C599D;}
ul.social-profile li a.twitter{color:#43BFFB;}
ul.social-profile li a.twitter:hover{background:#43BFFB;}
ul.social-profile li a.g-plus{color:#D5453A;}
ul.social-profile li a.g-plus:hover{background:#D5453A;}
ul.social-profile li a.linkedin{color:#007ABB;}
ul.social-profile li a.linkedin:hover{background:#007ABB;}
ul.social-profile li a.pinterest{color:#CB2028;}
ul.social-profile li a.pinterest:hover{background:#CB2028;}
ul.social-profile li a.delicious{color:#275BA6;}
ul.social-profile li a.delicious:hover{background:#275BA6;}
ul.social-profile li a.tumblr{color:#FF1595;}
ul.social-profile li a.tumblr:hover{background:#FF1595;}
ul.social-profile li a.stumbleupon{color:#50B54B;}
ul.social-profile li a.stumbleupon:hover{background:#50B54B;}
ul.social-profile li a.dribbble{color:#ED4A89;}
ul.social-profile li a.dribbble:hover{background:#ED4A89;}
ul.social-media{margin:0;padding:0;list-style:none;}
ul.social-media li{display:inline-block;margin:5px;}
ul.social-media li a i{display:block;}
ul.social-media li a:hover{color:#fff !important;}
.social-media li a.g-plus:hover{background:#D5453A !important;}
.social-media li a.stumbleupon:hover{background:#88D053 !important;}
.social-media li a.apple:hover{background:#D40203 !important;}
.social-media li a.behance:hover{background:#FEA501 !important;}
.social-media li a.codepen:hover{background:#000000 !important;}
.social-media li a.delicious:hover{background:#275BA6 !important;}
.social-media li a.digg:hover{background:#6E6F71 !important;}
.social-media li a.dribbble:hover{background:#E14C84 !important;}
.social-media li a.dropbox:hover{background:#43BFFB !important;}
.social-media li a.facebook:hover{background:#314987 !important;}
.social-media li a.flickr:hover{background:#FF0080 !important;}
.social-media li a.github:hover{background:#FEA200 !important;}
.social-media li a.google:hover{background:#E43E37 !important;}
.social-media li a.google-plus:hover{background:#E4172B !important;}
.social-media li a.hacker-news:hover{background:#E26000 !important;}
.social-media li a.html5:hover{background:#E34A25 !important;}
.social-media li a.instagram:hover{background:#3FE0D0 !important;}
.social-media li a.joomla:hover{background:#3597DA !important;}
.social-media li a.linkedin:hover{background:#9BC7E0 !important;}
.social-media li a.pinterest:hover{background:#CB2028 !important;}
.social-media li a.reddit:hover{background:#FF4500 !important;}
.social-media li a.skype:hover{background:#10BEF1 !important;}
.social-media li a.soundcloud:hover{background:#F94701 !important;}
.social-media li a.stack-overflow:hover{background:#FEA501 !important;}
.social-media li a.trello:hover{background:#01547E !important;}
.social-media li a.vimeo:hover{background:#1FB9EB !important;}
.social-media li a.tumblr:hover{background:#FF1493 !important;}
.social-media li a.twitter:hover{background:#43BFFB !important;}
.social-media li a.wechat:hover{background:#00B3A8 !important;}
.social-media li a.wordpress:hover{background:#62615F !important;}
.social-media li a.yahoo:hover{background:#902F90 !important;}
.social-media li a.youtube:hover{background:#C61B21 !important;}
.social-media li a.envelope:hover{background:#0959C2 !important;}
.social-media li a.heart:hover{background:#E11F89 !important;}
.social-media li a.xing:hover{background:#0000FE !important;}
.social-media li a.rss:hover{background:#FEA501 !important;}
.social-media li a.jsfiddle:hover{background:#58DD44 !important;}
.social-media li a.windows:hover{background:#00ACDE !important;}
.social-media li a.share-alt:hover{background:#018651 !important;}
.social-media li a.vk:hover{background:#A7D686 !important;}
.social-media li a.weibo:hover{background:#E8172D !important;}
.social-media li a.btc:hover{background:#F7931B !important;}
div#tribe-events-bar{background:#f7f7f7;border-bottom:1px solid #E4E4E4;padding:10px 10px 5px;margin-top:20px;}
.tribe-bar-views-inner{background:none;}
#tribe-bar-form input{font-size:12px;}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a{background:none;}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a{font-size:12px;}
.tribe-bar-view-list a.tribe-icon-month,
.tribe-bar-views-list span.tribe-icon-month,
.tribe-select2-results-views .tribe-icon-month{background-size:14px 14px;}
.tribe-bar-view-list a[class*=tribe-icon-],
.tribe-bar-views-list span[class^=tribe-icon-],
.tribe-select2-results-views span[class^=tribe-icon-]{padding-left:20px;min-height:13px;}
.tribe-events-calendar th{padding:10px 0;color:#FFF;letter-spacing:0;}
#tribe-events-content .tribe-events-calendar td,
#tribe-events-content table.tribe-events-calendar{border:1px solid #f2f2f2;}
.tribe-events-calendar td div[id*=tribe-events-daynum-]{padding:12px 0;line-height:1.2;text-align:center;font-size:18px;}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]{color:#797979;}
#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title{line-height:50px;}
#tribe-events .tribe-events-button,
.tribe-events-button{padding:10px 15px;}
.tribe-events-button:hover{color:#fff;}
#tribe-bar-views .tribe-bar-views-list{background:#f7f7f7;border:1px solid #ECECEC;}
#tribe-bar-form .tribe-bar-views-inner label,
#tribe-bar-views .tribe-bar-views-list{padding:0;}
.tribe-events-list-separator-month{padding:10px 15px;margin:20px 0 0;background:#f7f7f7;border-bottom:1px solid #E4E4E4;}
#tribe-events-header{margin-top:30px;}
.tribe-events-calendar div[id*=tribe-events-daynum-]{color:#000;background:#f5f5f5;}
.tribe-events-calendar thead th{border-left:1px solid #fff;border-right:1px solid #fff;}
.woocommerce .pp_social{display:none;}